@font-face{
	font-family: "Indie Flower-Regular", Helvetica;
}

.indieflower-regular-normal-black-18px {
	color: black;
	font-family: "Indie Flower-Regular", Helvetica;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
  }
  .indieflower-regular-normal-black-36px {
	color: black;
	font-family: "Indie Flower-Regular", Helvetica;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
  }
  .indieflower-regular-normal-coral-tree-64px {
	color: var(--coral-tree);
	font-family: "Indie Flower-Regular", Helvetica;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
  }
  .indieflower-regular-normal-white-18px {
	color: transparent;
	font-family: "Indie Flower-Regular", Helvetica;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
  }
  .main {
	align-items: flex-start;
	background-color: white;
	display: flex;
	flex-direction: column;
	height: 1184px;
	overflow: hidden;
	padding: 17px 0;
	width: 1688px;
  }
  .main .brave-new-world {
	left: 0px;
	letter-spacing: 0px;
	position: absolute;
	top: 65px;
	width: 782px;
  }
  .main .external-link-alt {
	background-image: url(vector.svg);
	background-size: 100% 100%;
	height: 14px;
	left: 549px;
	position: absolute;
	top: 120px;
	width: 15px;
  }
  .main .external-link-alt-1 {
	background-image: url(vector.svg);
	background-size: 100% 100%;
	height: 14px;
	left: 607px;
	position: absolute;
	top: 96px;
	width: 15px;
  }
  .main .external-link-alt-2 {
	background-image: url(vector.svg);
	background-size: 100% 100%;
	height: 14px;
	left: 669px;
	position: absolute;
	top: 96px;
	width: 15px;
  }
  .main .external-link-alt-3 {
	background-image: url(vector.svg);
	background-size: 100% 100%;
	height: 14px;
	left: 756px;
	position: absolute;
	top: 96px;
	width: 15px;
  }
  .main .flex-col {
	align-items: center;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	min-height: 721px;
	width: 782px;
  }
  .main .flex-row {
	align-items: flex-start;
	display: flex;
	height: 749px;
	margin-left: 55px;
	margin-top: 13px;
	min-width: 1172px;
  }
  .main .footer {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-left: -2px;
	margin-top: 50px;
	min-height: 128px;
	width: 1695px;
  }
  .main .header {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-left: -9px;
	min-height: 194px;
	width: 1699px;
  }
  .main .line-1 {
	height: 4px;
	margin-right: 7.84px;
	margin-top: -1px;
	width: 1692px;
  }
  .main .line-1-1 {
	height: 4px;
	margin-left: -0.42px;
	margin-top: -1px;
	width: 1692px;
  }
  .main .line-2 {
	height: 4px;
	margin-left: 3.84px;
	margin-top: 32px;
	width: 1692px;
  }
  .main .line-2-1 {
	height: 4px;
	margin-left: 1.58px;
	margin-top: 40px;
	width: 1692px;
  }
  .main .overlap-group {
	align-self: flex-end;
	height: 224px;
	margin-right: 11px;
	margin-top: 8px;
	position: relative;
	width: 711px;
  }
  .main .overlap-group1 {
	height: 208px;
	position: relative;
	width: 782px;
  }
  .main .span {
	color: rgba(0, 0, 0, 1);
	font-family: "Indie Flower-Regular", Helvetica;
	font-size: 18px;
  }
  .main .span-1 {
	color: rgba(170, 102, 102, 1);
	font-family: "Indie Flower-Regular", Helvetica;
	font-size: 18px;
	text-decoration: underline;
  }
  .main .span-2 {
	color: rgba(170, 102, 102, 1);
	font-family: "Indie Flower-Regular", Helvetica;
	font-size: 18px;
  }
  .main .span1 {
	color: rgba(0, 0, 0, 1);
	font-family: "Indie Flower-Regular", Helvetica;
	font-size: 36px;
  }
  .main .text-1 {
	letter-spacing: 0px;
	margin-left: 34px;
	margin-top: 30px;
	min-height: 53px;
	min-width: 558px;
	text-align: center;
  }
  .main .text-2 {
	letter-spacing: 0px;
	margin-left: 87.7px;
	margin-top: 56px;
	min-height: 101px;
	text-align: center;
	width: 943px;
  }
  .main .text-3 {
	left: 0px;
	letter-spacing: 0px;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 711px;
  }
  .main .text-4 {
	letter-spacing: 0px;
	margin-left: 18px;
	margin-top: 72px;
	min-height: 53px;
	min-width: 290px;
	text-align: center;
  }
  .main .text-5 {
	left: 266px;
	letter-spacing: 0px;
	position: absolute;
	text-align: center;
	top: 87px;
	width: 166px;
  }
  .main .text-6 {
	letter-spacing: 0px;
	margin-left: 16px;
	min-height: 156px;
	min-width: 420px;
  }
  .main .text-7 {
	letter-spacing: 0px;
	margin-left: 103px;
	min-height: 651px;
  }
  .main .title {
	left: 265px;
	letter-spacing: 0px;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 273px;
  }
  :root {
	--coral-tree: #aa6666;
  }
  .footer {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	height: 128px;
	overflow: hidden;
	width: 1695px;
  }
  .indieflower-regular-normal-black-36px {
	color: black;
	font-family: "Indie Flower-Regular", Helvetica;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
  }
  .line-1 {
	url(images/line-1.svg);
	height: 4px;
	margin-left: -0.42px;
	margin-top: -1px;
	width: 1692px;
  }
  .line-2 {
	height: 4px;
	margin-left: 1.58px;
	margin-top: 40px;
	width: 1692px;
  }
  .text-1 {
	letter-spacing: 0px;
	margin-left: 34px;
	margin-top: 30px;
	min-height: 53px;
	min-width: 558px;
	text-align: center;
  }


 /* Menú hamburgesa*/
  *{
	font-family: Arial;

  }
  
  ul{
	display: none;
  }
  
  input:checked  ~ ul{
	display:block;
	float: right;
  }
  
  input {
	display: none;
  }
  
  label {
	box-sizing: border-box;
	display: inline-block;
	border: 1px solid black;
	border-radius: 1px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-weight: bold;
	text-align: center;
	user-select: none;
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
  label:hover{
	background: #aa6666;
  }
  
  /* Estilo del boton cuando el menú está expandido*/
  input:checked ~ label {
	background: #aa6666; 
  }
  
  ul{
	margin-top:0;
	padding: 0;
	width: 200px;
  
  }
  
  
  li {
	background: rgb(236, 190, 121);
	margin: 10;
	padding: 10px;
	list-style: none;
	border-bottom: 3px solid #aa6666;
  }
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {
	filter: brightness(110%);
  }
  